.topnav {
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.05);
}

.input-buscar{
    padding: 8px 15px;
    border: 1px solid #cbd5e1;
    border-radius: 20px;
    width: 300px;
    outline: none;
}

.perdil_usuario{
    display: flex;
    align-items: center;
    gap: 15px;
}

.notificaciones{
    cursor: pointer;
    font-size: 1.2rem;
}

.avatar{
    background-color: #38dbf8;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: bold;
}

.nombre-usuario{
    font-weight: 500;
    color: #475569;
}